@using Client.Layout.Navigation
@using Client.Enums
@using Client.Layout.SecondRowSection

@inherits LayoutComponentBase

@inject ILogger<MainLayout> Logger
@inject IToastService? Toast

<div class="@MediaQuery.Xs.DivClass">
	<TopRowSectionXs /> 
</div>
<div class="@MediaQuery.SmOrMdOrLgOrXl.DivClass">
	<TopRowSection />
</div>

<div class="d-flex justify-content-end mt-1 mx-1">
	<div class="p-2 fs-6">
		<AnchorAndModal />
	</div>
</div>

<div class="container-fluid">
	@Body
	<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopLeft" />
</div>

<Footer />

@code {
#nullable disable
	/*
	protected override async Task OnInitializedAsync()
		{
		Logger!.LogInformation("{Class}!{Method}", nameof(MainLayout), nameof(OnInitializedAsync));
		}
	*/

}
