@using Client.Layout.Navigation
@using Client.Enums

<div class="d-flex bg-warning-subtle">
	<div class="p-1">
		<HomeButton />
	</div>
	<div class="p-1 flex-grow-1">
		<SearchForm />
	</div>
	<div class="p-1">

		@foreach (var item in Nav.List.ToList()
			.Where(w => w.Value == Nav.Contact | w.Value == Nav.Profile)
			.OrderBy(o => o.Sort))
		{
			<a href="@item.Index" title="@item.Title"
				 type="button" class="btn btn-secondary btn-sm">
				<i class="@item.Icon"></i>
				@item.Title
			</a>
			<span>&nbsp;</span>
		}
	</div>
</div>

@code {

}
