

<div class="">
	<div class="navbar p-1">
		<div class="container-fluid">

			<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
				<span class="navbar-toggler-icon"></span>
			</button>

		</div>
	</div>

	@if (collapseNavMenu)
	{
		<div class="p-1 flex-grow-1"><SearchForm /></div>
	}

	<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
		<div class=" @NavMenuCssClass ">
			@ChildContent
		</div>
	</div>

</div>

@code {
	[Parameter] public RenderFragment? ChildContent { get; set; }
	[Parameter] public bool CollapseNavMenu { get; set; }

	private bool collapseNavMenu;
	private string? NavMenuCssClass;

	//private bool collapseNavMenu = true;
	//private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	// protected override void OnInitialized()
	// {
	// 	//_address = GetAddress(OnOneLine, UseLabel);
	// }

	protected override void OnParametersSet()
	{
		UpdateUI(CollapseNavMenu);
	}

	private void ToggleNavMenu()
	{
		//CollapseNavMenu = !collapseNavMenu;
		UpdateUI(!collapseNavMenu);
	}
	
	private void UpdateUI(bool value)
	{
		collapseNavMenu = CollapseNavMenu;
		NavMenuCssClass = collapseNavMenu ? "collapse" : null;
	}


}
