@page "/Profile"
<PageHeader PageEnum="Client.Enums.Nav.Profile" />

@using Client.Enums


@inject ILogger<Profile> Logger

<h3 class="text-error">No Profile?</h3>


@code {


	protected override void OnInitialized()
	{
	}
}
