<div class="card bg-warning-subtle">
  <div class="card-header">
    @Meta.Title
  </div>
  <div class="card-body">
    <h5 class="card-title">Home Page Content</h5>
    <p class="card-text">ToDo: Finish Task 1</p>
    <p class="card-text">ToDo: Finish Task 2</p>
  </div>
</div>

@code {

}
